* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}

input {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  width: 100dvw;
  height: 100dvh;
  padding-top: 2rem;

  background: -webkit-linear-gradient(45deg, rgb(152, 207, 195) 11%, rgb(86, 181, 184) 64%);
  background: -moz-linear-gradient(45deg, rgb(152, 207, 195) 11%, rgb(86, 181, 184) 64%);
  background: linear-gradient(45deg, rgb(152, 207, 195) 11%, rgb(86, 181, 184) 64%);
}

.container {
  margin: 0 auto;
  padding: 1.5rem 1rem;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(241, 245, 248, 0.8);
  border-radius: 0.5rem;

  -webkit-box-shadow: 7px 4px 25px 11px rgba(34, 60, 80, 0.26);
  -moz-box-shadow: 7px 4px 25px 11px rgba(34, 60, 80, 0.26);
  box-shadow: 7px 4px 25px 11px rgba(34, 60, 80, 0.26);
}

h1 {
  margin-bottom: 1rem;
}

.password {
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

#password-length {
  width: 4rem;
  padding: 0.2rem;
}

.generate-btn,
.copy-btn {
  padding: 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.generate-btn {
  margin-top: 1rem;
}